<!DOCTYPE html>

<html lang="en"> <head><script type="text/javascript">var
NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new
Date().getTime()]);</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOOC</title> <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
<script src="{% static "./js/jquery-ui.min.js" %}"></script>
    <title>MOOC</title> <meta property="og:title" content="mooc" />

<link rel='stylesheet' href="{% static "./css/home.css" %}" type='text/css' media='all'>

    <meta name="description" content="Knowledge, Wisdom & Community thats amazing"> <meta
    property="og:description" content="Use MOOC to bring back to you what you left behind someday" />






<meta property="og:type" content="website" /> <meta property="fb:admins"
content="603317924" />


<meta name="google-site-verification"
content="aTHx0fECngasT9jjBPd1v4U0rASSCH36eobTv3xqzA8" /> <meta name="author"
content="Kippt"> <link rel="author" href="/humans.txt" />



<script type="text/javascript" src="{% static "./js/rop5xco.js"%}"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements --> <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="icon" type="image/png" href="{% static "./img/moocl.jpg" %}"> <link
rel="apple-touch-icon-precomposed" href="{% static "./img/moocl.jpg" %}" sizes="114x114" />
<link rel="fluid-icon" href="{% static "./img/moocl.jpg" %}" title="Kippt" />

<link rel="apple-touch-icon-precomposed" sizes="144x144"
href="https://d17f28g3dsa4vh.cloudfront.net/img/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
href="https://d17f28g3dsa4vh.cloudfront.net/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72"
  href="https://d17f28g3dsa4vh.cloudfront.net/img/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed"
		href="https://d17f28g3dsa4vh.cloudfront.net/img/apple-touch-icon-57-precomposed.png">

<link rel="chrome-webstore-item"
href="https://chrome.google.com/webstore/detail/pjldngiecbcfldpghnimmdelafenmbni">


    <link rel="stylesheet" href="{% static "./css/97014f308af8.css" %}" type="text/css" />

    <script type="text/javascript" src="{% static "./js/c16ed7fcad12.js" %}"></script>
</head>

<body class="page landing">
    <div class="navbar"> <div class="container">
	<button type="button" class="navbar-toggle" data-toggle="collapse"
	data-target=".nav-collapse">
	    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
	    class="icon-bar"></span>
	</button> <a class="navbar-brand" href="/"><img src="{% static "./img/moocl.jpg" %}"
	width="100"></a> <div class="nav-collapse collapse">
	    <ul class="nav">
		<!--<li><a href="/features/">Features</a></li>--> <li><a
		href="/about/">About</a></li> <li><a
		href="http://blog.kippt.com/">Courses</a></li> <li
		class="sep"><li> <li><a href="login.html">Log in</a></li> <li
		class="signup"><a href="register.html">Sign up</a></li>
	    </ul>
	</div>
    </div>
</div>
</head> 
<body>
	<div class="fluid_container"> 
		<link rel='stylesheet' href="{% static "./css/bootstrap.css" %}" type='text/css' media='all'>
		<style type="text/css">
      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; 
        -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
                border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

	  .login-form {
		margin-left: 65px;
	  }
	
	  legend {
		margin-right: -50px;
		font-weight: bold;
	  	color: #404040;
	  }

    </style>
    		<div class="container">
    			<div class="content">
      				<div class="row">
        				<div class="login-form">
          					<h2>Register</h2>
          						<form name="registerform" action="{% url registered %}" method="post">
							{% csrf_token %}
            							<fieldset>
              								<div class="clearfix">
                								First Name: <input type="text" name="firstname"> <br/> Last Name: <input type="text" name="lastname"> <br/> 
              								</div>
              								<div class="clearfix">
                								Username Name: <input type="text" name="username"> <br/>  Email: <input type="text" name="email"> <br/> 
              								</div>
									<div class="clearfix">
										 Password: <input type="password" name="password"> <br/> Confirm password: <input type="password" name="cpassword"> <br/> 
              								<button class="btn primary" type="submit">Register</button>
           							 </fieldset>
          						</form>
        					</div>
      					</div>
    				</div>
  			</div>	
 </div><!-- .fluid_container -->
<footer>
    <div class="container">
	<div class="row">
	    <div class="span3">
		<h5>Help</h5> <a href="#" target="_blank">Help</a><br> <a
		href="/about/">About</a><br> <a href="/faq/">FAQ</a><br> <a
		href="#" target="_blank">Feedback</a>
	    </div> <div class="span3">
	      <h5>About</h5> <a href="/about/">About MOOC</a> <br> <a
	      href="/press/"></a> <br> <a href="/privacy/">Privacy</a> <br> <a
	      href="/terms/">Terms</a>
	    </div> <div class="span3">
	      <h5>Community</h5> <a href="http://blog.kippt.com/">Blog</a> <br>
	      <a href="https://twitter.com/kippt/">Twitter</a> <br> <a
	      href="https://facebook.com/kipptapp/">Facebook</a><br> <a
	      href="/about/">Contact Us</a>
	    </div> <div class="span3 lovingly">
		<p>Handcrafted in San Francisco with Finnish Heritage
		<span>&hearts;</span></p>
	    </div>
	</div>
    </div>
</footer>

<script type="text/javascript">
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-17714404-3']);
    _gaq.push(['_trackPageview']); _gaq.push(['_trackPageLoadTime']);


    _gaq.push(['_setCustomVar', 1, 'Logged in', 'false', 2]);
    _gaq.push(['_setCustomVar', 2, 'Member', 'false', 1]);
    _gaq.push(['_setCustomVar', 4, 'Join month', '0', 1]);
    _gaq.push(['_setCustomVar', 5, 'Join year', '0', 1]);


    (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript';
	ga.async = true; ga.src = ('https:' == document.location.protocol ?
	'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s =
	document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
    })();

    <script>

</script> </script>

<script
type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new
Date().getTime()]);var
e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","36001797b1","1285686","MlQEMREADxUFB0UKCQseIBANAhUPCwoeAAoMQRVLFQgEERdeWA0CAEk=",0,18,new
Date().getTime(),"","","","",""]);</script></body> </html>

